<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
    <header>
        <h1> <a th:href="@{/home}">Vasco</a> </h1>
        <p>Explore the World with Elegance</p>
    </header>
    <nav>
        <a th:href="@{/map}">Map</a>
        <a th:href="@{/travel-diaries}">Travel diaries</a>
        <a th:href="@{/achievements}">Achievements</a>
        <a th:href="@{/photos}">Photos</a>
        <a th:href="@{/login}">Sign in</a>
    </nav>
</body>
</html> 