.hero {
    background-image: url('/images/view-travel-items-assortment-from-freepikcom.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.hero h2 {
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

.content {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.content h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2em;
    line-height: 1.6;
} 